// @import './index.html'
$pinkwidth : 200px;
body{
    /* background-image: url(photo2.png); */
    background-size: 400px 500px;
    
    background-repeat:no-repeat;
    background-color: rgba(95, 60, 128, 0.61);
    
}
.parlourName{
    background-color: rgba(184, 48, 48, 0.863);
    border-radius: 2em;
    padding: 5px;
    font-family: helvetica;
    justify-content: center;
    align-content: center;
    color:rgba(211, 224, 31, 0.89);
    // opacity: 1;
    
}
.firstBlock{
    height: 600px;
    width :max-content;
    height: max-content;
    background-color: hsla(360, 97%, 63%, 70%);
    border-radius: 20px;
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: .3em ;
        
}
.imageBlock{
    /* background: url(photo2.png); */
    overflow: hidden;
    position: relative;
    
    /* background-color: black; */
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid #ccc; */
    width: fit-content;
    height: 100vh;
    

    /* content: url(photo2.png); */    
}
.bgImg{
    opacity:.4;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;    
}

.about{
    background:rgba(255, 194, 204, 0.856);
    
    width:$pinkwidth;
    height:max-content;
    border-radius: 5px;
    position: relative;
    margin:10px;
    padding:0px 5px 5px 5px;
}

.gallery{
    @extend .about;
    // background: hsla(350, 100%, 88%, 50%);
    margin: 5px;
    width :$pinkwidth;
    height: max-content;
    position: relative;
    padding: 5px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // flex-flow: column nowrap; 
    justify-content: center;
    align-content: center;
    align-items:baseline;

}
.item{
    background-color: hsla(0, 0%, 100%, 80%);
    content :initial;
    margin: 5px;
    width:70px;
    height:70px;
    object-fit: contain;
}
.contactButton{
    display: inline-block;
    
    background:rgba(255, 194, 204, 0.856);

    text-decoration: none;
    color:#42b383;
    font-weight: bolder;
    font-size: 30px;
    margin: 2px 30px;
    padding:4px;
    // border: solid black;
    border-radius: 10px;
}
.number{
    @extend .contactButton;
    margin:auto;
    background: rgba(33, 224, 193, 0.541);
    // padding: 2em;
    color:rgb(100, 99, 98);
  
    
}
.contactPage{
    width:max-content;
    border-radius: 2em;

}